:root {
  
    .mockInterview-container{
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
  .card-mackInterview {
    width: calc(100% - 50px);
    justify-self: center;
    border: 1px solid #eee;
    border-radius: 15px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    column-gap: 20px;
    box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
  }
  .card-mackInterview img {
    max-width: 250px;
    transform: translateY(-15%);
  }
  .img-placeholder {
    position: relative;
    max-height: 200px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.75);
  }
  h3 {
    font-weight: 400;
  }
  p {
    font-weight: 300;
  }
  a {
    color: #888;
    text-decoration: none;
  }
  a:hover {
    color: inherit;
  }
}